* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background: linear-gradient(rgba(247, 247, 247, 0.5), rgba(247, 247, 247, 0.5)), url('corvo_steam.jpeg');
    background-size: cover;
}

.titolo {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    color: #000000;
}

#pescaButton {
    background-color: #656b70;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
}

button:hover {
    opacity: 0.9;
}

.seme {
    color: #000000;
}


textarea {
    background-color: #cbe4ee8a;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    overflow: hidden;
}

.seme {
    font-size: 24px;
}

.cuori,
.quadri {
    color: red;
}

.fiori,
.picche {
    color: black;
}

#cartaPescata {
    display: none;
    background-color: #cbe4eee0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    justify-self: center;
}

#storico {
    display: none;
}

.flex {
    display: block !important;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    height: 100vh;
    justify-content: center;
    margin-top: 25px;
}

#mappa {
    grid-column: 2 / span 3;
    width: 1250px;
    height: 1750px;
}

.info {
    background: #c4c4c459;
    height: auto;
    width: auto;
    justify-self: center;
    padding: 5px;
    border-radius: 10px;
}

p {
    margin-top: 20px;
    font-size: 18;
    font-style: italic;
}